img{
    width: 200px;
    height: 200px;
}

body {
    display: flex;
    flex-direction: column;
}

table, th, td {
    border:1px solid black;
  }
  body{background-color:whitesmoke;}
  h1{color: black; text-align: center;}
 
  p{font-family: Verdana, Geneva, Tahoma, sans-serif;}